body, html {
    display: grid;
    place-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    touch-action: manipulation;
    user-select: none;
}
#board {
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.tile {
    width: 5rem;
    height: 5rem;
    display: grid;
    place-content: center;
    max-width: calc(100vw / 8);
    max-height: calc(100vh / 8);
}
.white {
    background-color: #ccc;
    color: #ccc;
}
.black {
    background-color: #1e1e1e;
    color: #1e1e1e;
}
.option, .jump {
    box-shadow: inset 0 0 10px 0.25rem #e3b444;
}
.checker::after {
    content: "";
    position: relative;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
}
.light::after {
    background-color: #e6bc5b;
}
.dark::after {
    background-color: #e36444;
}
.king::after {
    border: 3px #999999 solid;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
}
.card {
    background: #946646;
    border: 5px solid #61432d;
    width: 12rem;
    height: 2rem;
    color: #f7c899;
    font-size: 16px;
    text-align: center;
    line-height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.Dodge::after {
    box-shadow: inset 0 0 10px 0.25rem #feffcb;
}
.Explode::after {
    box-shadow: inset 0 0 10px 0.25rem #8c0e00;
}
.Quantum::after {
    box-shadow: inset 0 0 10px 0.25rem #820093;
}
.rare {
    color: #00ffff;
}

@media screen and (max-width: 640px){
    .tile {
        width: 4rem;
        height: 4rem;
    }
    .checker::after {
        width: 3rem;
        height: 3rem;
    }
}
@media screen and (max-height: 640px){
    .tile {
        width: 4rem;
        height: 4rem;
    }
    .checker::after {
        width: 3rem;
        height: 3rem;
    }
}
@media screen and (max-height: 512px){
    .tile {
        width: 3rem;
        height: 3rem;
    }
    .checker::after {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 512px){
    .tile {
        width: 3rem;
        height: 3rem;
    }
    .checker::after {
        width: 2rem;
        height: 2rem;
    }
}
@media screen and (max-height: 384px){
    .tile {
        width: 2rem;
        height: 2rem;
    }
    .checker::after {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 384px){
    .tile {
        width: 2rem;
        height: 2rem;
    }
    .checker::after {
        width: 1.5rem;
        height: 1.5rem;
    }
}