body, html {
    display: grid;
    place-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    touch-action: manipulation;
    user-select: none;
}
#board {
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    border-radius: 2px;
}
.tile {
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    max-width: calc(100vw / 8);
    max-height: calc(100vh / 8);
}
.white {
    background-color: #ccc;
    color: #ccc;
}
.black {
    background-color: #1e1e1e;
    color: #1e1e1e;
}
.option, .jump {
    box-shadow: inset 0 0 10px 2px #e3b444;
}
.checker::after {
    content: "";
    position: relative;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}
.light::after {
    background-color: #e6bc5b;
}
.dark::after {
    background-color: #e36444;
}
.king::after {
    border: 3px #999999 solid;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
}
.card {
    background: #946646;
    border: 5px solid #61432d;
    width: 12rem;
    height: 2rem;
    color: #f7c899;
    font-size: 16px;
    text-align: center;
    line-height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.Dodge::after {
    box-shadow: inset 0 0 10px 2px #feffcb;
}
.Explode:hover::before {
    content: "";
    position: relative;
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    pointer-events: none;
}
.Explode[explode="1"]:hover::before {
    box-shadow: 0 0 0 75px #a4210028;
}
.Explode[explode="2"]:hover::before {
    box-shadow: 0 0 0 125px #a4210028;
}
.Explode[explode="3"]:hover::before {
    box-shadow: 0 0 0 175px #a4210028;
}
.Explode[explode="4"]:hover::before {
    box-shadow: 0 0 0 225px #a4210028;
}
.Explode[explode="5"]:hover::before {
    box-shadow: 0 0 0 275px #a4210028;
}
.Explode[explode="6"]:hover::before {
    box-shadow: 0 0 0 325px #a4210028;
}
.Explode[explode="7"]:hover::before {
    box-shadow: 0 0 0 375px #a4210028;
}
.Explode[explode="8"]:hover::before {
    box-shadow: 0 0 0 425px #a4210028;
}
.Explode[explode="9"]:hover::before {
    box-shadow: 0 0 0 475px #a4210028;
}
.Explode[explode="10"]:hover::before {
    box-shadow: 0 0 0 max(100vh, 100vw) #a4210028;
}
.Explode::after {
    content: attr(explode);
    color: #a42100;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
}
.Explode[explode="10"]::after {
    outline: 3px #a42100 solid;
    content: "";
}
.Quantum::after {
    box-shadow: inset 0 0 10px 2px #820093;
}
.rare {
    color: #00ffff;
}

[turn="false"] {
    outline: #e36444 solid 5px;
    box-shadow: 0 0 10px 2px #e36444;
}
[turn="true"] {
    outline: #e3b444 solid 5px;
    box-shadow: 0 0 10px 2px #e3b444;
}
#autoplay {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #946646;
    border: 5px solid #61432d;
    color: #f7c899;
    font-size: 16px;
    text-align: center;
    line-height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    width: 8rem;
    height: 2.5rem;
}